
body{
    font-family: 'Antonio', sans-serif;
    min-height: 100vh;
    background-image: url("../bg.svg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-card{
    font-family: 'Antonio', sans-serif;
    z-index: 1;
    background-color:rgba(255, 255, 255, 0.1);
    border: 1px inset rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
    padding: 1em 1em;
    border-radius: .8em 4em;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transform: perspective(1000px); 
}

.leaves{
    width: 100vw;
    height: 100vh;
    background-image: url("../leaves-01.svg");
    position: fixed;
    top: 0;
    background-repeat: no-repeat;
    background-size:cover;
}

.game-title{
    text-align: center; 
    background-image: url("../logo.svg"); 
    background-repeat: no-repeat;
    background-size:cover;
}

.game-title-two{
    font-size: 3em;
    color: #f70b66;
    font-weight: 700;
    line-height: 1em;

    text-shadow: 1px 1px 1px #7f0232,
        1px 2px 1px #7f0232,
        1px 3px 1px #7f0232,
        1px 25px 35px rgba(16,16,16,0.2),
        1px 30px 60px rgba(16,16,16,0.8);
}

.game-title-one{
    font-family: 'Pacifico', cursive;
    color: #E6AF1C;
    text-shadow: 1px 1px 1px #7b4800,
    1px 30px 60px rgba(16,16,16,0.8);
    
}


.game-title-three{
    display: inline-block;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: .5em;
    letter-spacing: .5em;
    color: rgba(255, 255, 255, 0.7);
}

.start-screen{
    color: white;
    z-index: 2;
    backdrop-filter: blur(5px);
    width:100vw;
    position: fixed;
    top: 0;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.5);
    margin: 0;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadein 1s ease-in;
}

@keyframes fadein{
    from{
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

.next-level-screen,
.time-is-up,
.moves-out{
    color: white;
    z-index: 2;
    backdrop-filter: blur(5px);
    width:100vw;
    position: fixed;
    top: 0;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.5);
    margin: 0;
    align-items: center;
    justify-content: center;
    animation: fadein 1s ease-in-out;
}

.message-title{
    font-weight: 700;
    font-size: 3.5rem;
    color: #E6AF1C ;
}

.message-title-next{
    font-weight: 700;
    font-size: 3.5rem;
    color: #126048;
}

.message-box{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 15em;
    width: 15em;
    height: 15em;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.1);
    border: 1px inset rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
}

.story{
    font-family: 'lato', sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
    width: 50%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.default {
    color: rgba(255, 255, 255, 0.8);
    padding: 0.2rem 2rem;
    position: absolute;
    left: 0;
    top: 1%;
    padding: 0;
    display: none;
}

.title{
    color: rgb(255, 183, 53);
    letter-spacing:.2em;
    font-size:1rem;
}

.moves-container, 
.timer-container,
.level-container{
    border: 1px inset rgba(225, 225, 225, 0.2);
    margin: 1rem 0rem 1rem 0rem;
    border-radius: 0 50px 50px 0;
    text-align: left;
    padding: .4rem 1.8rem .4rem 1rem;
    background-color:rgba(134, 19, 67, 0.5);
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    font-family: 'cubano', sans-serif;
    z-index: 3;
    font-weight: 700;
    letter-spacing:.5em;
    margin: 3em;
    margin-bottom: .8em;
    color: #FFF5EE ;
    border-radius: 2em;
    cursor: pointer;
    background-color:rgba(255, 255, 255, 0.2);
    border: 1px inset rgba(225, 225, 225, 0.4);
    font-size: 1rem;
    height: 3em;
    width: 15em;
    transition: all 500ms ease-in-out;
    backdrop-filter: blur(5px);
}

button:hover{
    background-color:rgba(255, 255, 255, 0.4);
}

#table{
    margin-left: 6rem;
    margin-right: 5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 80rem;
    perspective: 1000px;
}

.card {
    cursor: pointer;
    margin: 0.5rem;
    width: 8rem;
    height: 12rem;
    position: relative;
    border-radius: 0.5em;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
    transition: all .5s  ease-in-out;
    transform-style: preserve-3d;
}

.front,
.back{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 0.25em;
    position: absolute;
    border: 1px inset rgba(225, 225, 225, 0.5);

}

.front{
    background-color:rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    transform: rotateY(-180deg);
}

.back{
    backface-visibility: hidden;
}

.shown {
    transform: rotateY(-180deg);   
}

.test{
    width: 20px;
}

img{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    width: 6.5rem;
    height: 10.5rem;
}

.success {
    animation: success .6s forwards;
}

@keyframes success {
    0% {
        transform:  rotateY(0)  scale(1);
        opacity: 0.8; 
    }

    25% {
        transform:  rotateY(0)  scale(1.05);
        opacity: 0.5; 
    }

    100% {
        transform:  rotateY(360) scale3d(1);
        opacity: 0;
    }
  
}
  
.error {
    animation: error 0.6s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
  
@keyframes error {
    10%,
    90% {
      transform: rotateY(-180deg) translateX(-1px);
    }
    20%,
    80% {
      transform: rotateY(-180deg) translateX(2px);
    }
    30%,
    50%,
    70% {
      transform: rotateY(-180deg) translateX(-4px);
    }
    40%,
    60% {
      transform: rotateY(-180deg) translateX(4px);
    }
}

.next-level-screen,
.time-is-up,
.moves-out{
    display: none;
}

.sound{
    display: none;
}

.level{
    color: aliceblue;
}

.retry{
    font-family: 'Noto Sans', sans-serif;
    font-size: .5em;
    font-style: italic;
    color: rgba(230, 175, 28, 0.8);
    cursor: pointer;
    align-items: center;
    text-decoration: underline;
    transition: all 1s ease-in-out;
}

.numbers{
    display: flex;
    align-items: center;
}

.retry:hover{
    color: rgba(230, 175, 28, 1);
}

.fa-solid {
    cursor: pointer;
    font-size: .6em;
    margin: .4em .2em .2em .4em;
    color: #E6AF1C;
    transition: all 500ms ease-in-out;
}

.fa-solid:hover {
    color: #e3c264;
}

.end-game{
    color: white;
    z-index: 2;
    backdrop-filter: blur(5px);
    width:100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color:rgba(0, 0, 0, 0.5);
    flex-direction: column;
    display: none;
    align-items: center;
    justify-content: center;
    animation: fadein 1s ease-in;
}
.story{
    font-family: 'Noto Sans', sans-serif;
    font-size: .7em;
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

h1{
    margin: 0;
    display: block;
    font-family: 'Antonio', sans-serif;
    font-size: 2em;
    font-weight: 400;
    color: #f70b66;
}

h2 {
    margin: 0;
}

.end-go-start{
    z-index: 2;
    bottom: 4em;
    position: fixed;
    margin: 0 auto;
}

h2 span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
  animation: fade-in 1s 0.1s forwards ease-in;
}

h1 span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
    animation: fade-in 2s 0s forwards ease-in;
}

@keyframes fade-in {
    from{   
        opacity: 0;
        filter: blur(4px);
        transform: scale(1.1);
    } to {
        opacity: 1;
        filter: blur(0);
        transform: scale(1); 
  }
} 
